<!doctype html>
<head>
  <title>Analyze prescription</title>
  <link rel="stylesheet" href="../static/main.css">
</head>
<body>
  <div>
  <h1>Handwritten text recognition for medical prescriptions</h1>
  <div>
    Please upload photo of medical prescription you wish to get processed.
    File extension must be one of the following: .png .jpg .jpeg.
  </div>
  <form method=post enctype=multipart/form-data>
    <input type=file name=file>
    <input type=submit value=Upload>
  </form>
  </div>
  <div class="container">
    <div class="image-container">
    {% if result!=None: %}
      <img src="/static/images/{{ recognized_image }}" align="middle" />
    {% endif %}
    </div>
    <div class="result-container">
      <div>
        {% if result!=None: %}
          <h3>Result:</h3>
          <div>
            <pre>{{ full_result }}</pre>
          </div>
        {% endif %}
      </div>
      <div>
        {% if result!=None: %}
          <h3>Composed result:</h3>
          <div>{{ result }}</div>
        {% endif %}
      </div>
    </div>
  </div>
</body>
